body {
    height: 100vh;
    padding: 0;
    margin: 0;
    background: linear-gradient(120deg, #fff 75%, #e01533 25%);
    font-family: 'PT Sans', sans-serif;
}

a {
    text-decoration: none;
}

.logo {
    width: 15%;
    display: flex;
    align-items: center;
}
.logo img{
    max-width: 60px;
    margin-left: 50%;
}

.container {
    max-width: 1170px;
}

.nav {
    z-index: 20;
    width: 100%;
    top:3%;
    position: absolute;
    display: flex;
    align-items: center;
}

.nav_row {
    width: 20%;
}

.nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    list-style-type: none;
}

.nav_item {
    padding: 0 10px;
    margin-right: 30px;
    font-size: 18px;
}

.nav_item:hover {
    border-bottom: 2px solid #e01533;
}

.search-block {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    display: flex;
    background-color: #fff;
    border: 2px solid #e01533;
    border-radius: 30px;
    width: 50%;
    z-index: 1;
}

.search_form {
    padding-left: 5%;
    width: 90%;
    height: 25px;
    z-index: 10;
    border-radius: 30px;
    border: none;
    outline: none;
    font-weight: bold;
    color: #6f6f6f;
}

.search_btn {
    color: #e01533;
    font-size: 17px;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.personal_item {
    width: 15%;
}

.auth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.auth_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #6f6f6f;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: .3s;
}

.auth_link i {
    padding: 0 5px;
    font-size: 20px;
    color: #e01533;
}

.auth_link:hover {
    color: #e01533;
}

.main_information {
    position: absolute;
    top: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60%;
    width: 100%;
}

.text_inform h1{
    color: #000;
    font-size: 70px;
    margin: 0;
    padding: 0;
}

.text_inform strong {
    color: #e01533;
    text-decoration: underline;
}

.tagline {
    color: #6f6f6f;
    font-size: 20px;
    margin: 10px 0;
    padding: 0;
}

.inform_link {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.inform_btn {
    border: 2px solid #e01533;
    border-radius: 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 3px 15px;
    transition: .3s;
}

.read {
    color: #e01533;
}

.read:hover {
    color: #fff;
    background: #e01533;
}

.shop {
    color: #fff;
    background: #e01533;
}

.shop:hover {
    color: #e01533;
    background: #fff;
}

.social {
    left: 7%;
    position: absolute;
    bottom: 3%;
    width: 86%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.find a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e01533;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: .3s;
}

.find a:hover {
    color: #6f6f6f;
}

.find i {
    padding: 0 5px;
    font-size: 20px;
    margin-top: -5px;
    animation: place 1s infinite;
    animation-timing-function: linear;
}

.connect {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 16px;
    font-weight: lighter;
    text-align: right;
}

.social-icon {
    display: flex;
    align-items: center;
    list-style: none;
}

.social-link {
    color: #fff;
    font-size: 16px;
    transition: .3s;
}

.social-link:hover {
    color: #000;
}

.social-link i {
    padding: 0 10px;
}

@keyframes place {
    0% {
        margin-top: -5px;
    }
    50% {
        margin-top: 5px;
    }
    100% {
        margin-top: -5px;
    }
}